<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tencent.desientity">

    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="ACCESS_SUPERUSER"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_desi_foreground"
        android:label="Desi Entity"
        android:roundIcon="@mipmap/ic_launcher_desi_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".FloatingView"
            android:enabled="true"
            android:exported="false"/>
        <service android:name=".Overlay"></service>
    </application>

</manifest>